* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Times New Roman", serif;
	text-align: center;
	background-color: white;
}

#main {
	padding: 0 8px 8px 8px;
	margin: 8px 8px 8px 10px;
	background-color: black;
	color: white;
	border-radius: 5px;
}

#img-div {
	background-color: rgb(20, 20, 20);
	padding: 0,3em;
	border-radius: 5px;
	margin: auto;
}

#title {
	padding-top: 1em;
}

#tribute-info {
	margin-top: 15px;
	margin-bottom: 25px;
}

#image {
		max-width: 70%;
		display: block;
		height: auto;
		margin: auto;
	}

#img-caption {
	font-style: italic;
	padding-bottom: 0.3em;
	padding: 10px 0 20px 0;
	}
	
#filmography {
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 25px;
}
	
#list {
	list-style-type: square;
	display: inline-block;
}

.movies {
	display: inline-block;
	list-style-position: outside;
	text-align: left;
}

li {
	font-size: 1em;
	line-height: 1.5;
}

#blockquote {
	margin-top: 20px;
	margin-bottom: 10px;
}

q {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
}
#plast {
	font-style: italic;
	font-size: 24px;
	margin-bottom: 30px;
	}

#plink {
		font-size: 18px;
		margin-bottom: 20px;
	}
	
a:link {
	color: white;
	background-color: black;
}
	
a:visited {
	color: lightblue;
	background-color: black;
}

a:hover {
	color: black;
	background-color: white;
}

a:active {
	color: red;
	background-color: black;
}
	
footer {
	box-sizing: border-box;
	margin: auto;
	background-color: black;
	border-radius: 5px;
	margin: 5px 8px 8px 8px;
}

address {
	padding: 5px;
	color: black;
	background-color: white;
	letter-spacing: 1px;
	display: inline-block;
	border: black solid 1px;
}
span {
	height: 14px;
}
